<%= lato_page_head I18n.t('lato_storage.attachments'), [
  { label: I18n.t('lato_storage.storage'), path: lato_storage.root_path },
] %>

<div class="card">
  <div class="card-body">
    <%= lato_index @attachments %>
  </div>
</div>
