<%= lato_page_head 'Nuovo prodotto', [
  { label: 'Prodotti', path: products_path },
  { label: 'Nuovo prodotto' }
] %>

<div class="card mb-4">
  <div class="card-header">
    <h2 class="fs-4 mb-0">Registrazione nuovo prodotto</h2>
  </div>
  <div class="card-body">
    <%= render 'products/form', product: @product %>
  </div>
</div>